<h1>Firebase Users</h1>
<button id='button2'>Click Me D3 Component 1</button>
<svg id="svg1" width="960" height="500"></svg>
<div id="foo">This is from d3 component</div>
<ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
    </li>
</ul>
<!-- <iframe src="https://calendar.google.com/calendar/embed?src=97dvbac8ntfqg3fsicp1vi4l5s%40group.calendar.google.com&ctz=Africa%2FJohannesburg" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->

<iframe id="ytplayer" type="text/html" width="640" height="360"
src="https://www.youtube.com/embed?listType=playlist&list=PLdlacGt_30vU_djZRDGLEOQA9SnFz6dY2&origin=http://example.com"
frameborder="0"></iframe>
<!-- https://www.youtube.com/watch?v=NAh9oLs67Cw&t=2791s -->

