<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [styles]='styles' [streetViewControl]=true>
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-polygon [paths]='triangleCoords' [strokeWeight]=2>

  </agm-polygon>
</agm-map>
<hr>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div id=testing>Testing</div>
<app-d3-component-one style="display: inline"></app-d3-component-one>
<div >
  <app-d3-component-two></app-d3-component-two>
</div>
<div style="display: inline">
  <app-d3-component-three></app-d3-component-three>
</div>
<hr>
